* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 22px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
  overflow-x: hidden;
}
body._lock {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0 auto;
}

.title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 50px;
  }
}

.dark {
  background: #030303;
  color: #fff;
  padding: 75px 0;
}

.shown {
  visibility: visible;
}

.hidden {
  display: none;
}

.header {
  padding: 59px 0;
  background: #030303;
  color: #FFFFFF;
}
.header__container {
  width: 100%;
}
.header__body {
  width: 100%;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: no-repeat url(../img/logo.svg);
  padding-left: 74px;
}
.header__menu {
  width: 53.8%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

.welcome {
  padding-top: 0;
  padding-bottom: 0;
}
.welcome__container {
  position: relative;
  display: flex;
}
.welcome__content {
  padding-bottom: 272px;
  z-index: 10;
}
.welcome__carousel {
  position: relative;
  width: 50%;
}
.welcome__carousel-item {
  width: 1000px;
  height: 750px;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .welcome__carousel-item {
    width: 700px;
    height: 525px;
  }
}
.welcome__carousel-gradient {
  position: absolute;
  right: 0;
  z-index: 9;
}
@media screen and (max-width: 1024px) {
  .welcome__carousel-gradient {
    width: 700px;
    height: 525px;
  }
}

.content-welcome {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content-welcome__title {
  margin-top: 150px;
}
.content-welcome__subtitle {
  margin: 25px 0 75px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1024px) {
  .content-welcome__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}
.content-welcome__link {
  width: max-content;
  color: #fff;
  background: #710707;
  border-radius: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  padding: 24.5px 64px;
}
@media screen and (max-width: 1024px) {
  .content-welcome__link {
    font-size: 20px;
    line-height: 23px;
  }
}

.slider-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 40px 89px 40px 74px;
  background: #030303;
}
.slider-welcome__squares {
  display: flex;
  margin: 0 60px 0 55px;
}
.slider-welcome__square {
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-right: 12.5px;
  margin-left: 12.5px;
}
.slider-welcome__arrows {
  display: flex;
  align-items: center;
}
.slider-welcome__arrow {
  cursor: pointer;
}

.counter {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}
.counter__current {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}
.counter__splitter {
  margin: 0 5px;
}
.counter__total {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}

.active {
  background: #D2B183;
}

.slider-welcome__arrow-prev {
  margin-right: 20px;
}

.slider-welcome__arrow-next {
  rotate: 180deg;
}

.visiting {
  padding: 75px 0;
}
.visiting__title {
  position: relative;
  color: #9D8665;
  margin-bottom: 103px;
}
.visiting__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #710707;
  top: 114px;
}
.visiting__cards {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 75px 60px;
  flex-wrap: wrap;
  max-height: 1500px;
}
.visiting__card {
  display: block;
}

.card-visiting {
  width: 30.55%;
}
.card-visiting__title {
  position: relative;
  color: #000000;
  font-size: 32px;
  line-height: 35px;
  margin-top: 25px;
  margin-bottom: 22px;
}
.card-visiting__title::after {
  display: block;
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  left: 0px;
  top: 44px;
  background: #710707;
}
.card-visiting__subtitle {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  margin-bottom: 10px;
}
.card-visiting__text {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
}

.explore {
  display: none;
}
.explore__container {
  display: flex;
}
.explore__content {
  margin-right: 61px;
}
.explore__title {
  position: relative;
  margin-bottom: 107px;
}
.explore__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 660px;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
}
.explore__text {
  margin-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
.explore__text span {
  color: #CAAA7D;
}
.explore__image {
  width: 720px;
  height: 700px;
  margin-top: 15px;
}

.video {
  display: none;
  padding: 75px 0;
}
.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 75px;
}
.video__title {
  color: #9D8665;
  width: 50%;
}
.video__text {
  width: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
.video__video {
  position: relative;
  opacity: 0.2;
}
.video__video::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background-image: url(../img/playBig.png);
  left: -10px;
  top: 100px;
  z-index: 10;
}
.video__controlls {
  display: flex;
  width: 100%;
  height: 85px;
  background-color: #000000;
  margin-bottom: 40px;
}
.video__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-video__controls {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 40px;
}

.controls__stroke {
  width: 10px;
  height: 12px;
}
.controls__stroke.right {
  rotate: 180deg;
}
.controls__dash {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999999;
}
.controls__dash.active {
  background: #333333;
}

.contacts {
  display: none;
  padding: 75px 0;
}
.contacts__title {
  position: relative;
  color: #9D8665;
}
.contacts__title::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
}
.contacts__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
}
.contacts__contacts {
  width: 19.6%;
}
.contacts__contacts span {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-top: 25px;
}
.contacts__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}

.gallery {
  display: none;
  padding-bottom: 0;
}
.gallery__container {
  height: 2125px;
  overflow: hidden;
  position: relative;
}
.gallery__title {
  margin-bottom: 75px;
}
.gallery__gradient {
  position: absolute;
  width: 100%;
  height: 360px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.list-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2400px;
  gap: 24px 36px;
}
.list-gallery__item {
  width: 456px;
  flex: 0 1 auto;
}

.tickets {
  display: none;
  padding: 75px 0;
}
.tickets__input {
  width: 17px;
  height: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}
.tickets__title {
  position: relative;
  color: #9D8665;
  margin-bottom: 103px;
}
.tickets__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
}
.tickets__content {
  display: flex;
  gap: 60px;
}
.tickets__content-image {
  width: 50%;
}
.tickets__content-type {
  width: 18.8%;
}
.tickets__content-amount {
  width: 12.15%;
  margin-left: auto;
  text-align: right;
}

.content-type__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}

.content-amount__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}
.content-amount__btn {
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #000000;
  width: 175px;
  height: 50px;
}
.content-amount__text {
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
}
.content-amount__quantity {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 50px;
  border: 3px solid #000000;
}

.quantity__btn {
  width: 50px;
}
.quantity__input {
  width: 80%;
  display: inline;
  text-align: center;
}
.quantity__input input {
  width: 50px;
  text-align: center;
  line-height: 44px;
}

.content__radio-btns {
  accent-color: #000000;
  margin-top: 25px;
  cursor: pointer;
}
.content__radio-btns label {
  margin-left: 23px;
}