.video {
    display: none;
    padding: 75px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 75px;
    }

    &__title {
        color: $titleOtherColor;
        width: 50%;
    }

    &__text {
        width: 50%;
        font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
    }

    &__video {
        position: relative;
        opacity: 0.2;
        &::before {
            content: "";
            position: absolute;
            width: 220px;
            height: 220px;
            background-image: url(../img/playBig.png);
            left: -10px;
            top: 100px;
            z-index: 10;
        }
    }

    &__controlls {
        display: flex;
        width: 100%;
        height: 85px;
        background-color: $mainColor;
        margin-bottom: 40px;
    }

    &__slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.slider-video {

    &__controls {
        display: flex;
        width: 200px;
        justify-content: space-between;
        margin-top: 40px;
    }
}

.controls {

    &__stroke {
        width: 10px;
        height: 12px;
            &.right {
                rotate: 180deg;
            }
    }

    &__dash {
        width: 12px;
height: 12px;
border-radius: 50%;
background: #999999;
        &.active {
            background: #333333;
        }
    }
}
