.welcome {
    
        padding-top: 0;
        padding-bottom: 0;

    &__container {
        position: relative;
        background-image:  url(../img/gradient.png), url(../img/slide1.jpg);
        background-repeat: no-repeat;
        background-position-x: 96.6%;
    }

    &__content {
        padding-bottom: 272px;
    }
    
}

.content-welcome {
    display: flex;
    flex-direction: column;

    &__title {
        margin-top: 150px;
    }

    &__subtitle {
        margin: 25px 0 75px 0;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
    }

    &__link {
        width: max-content;
        color: #fff;
        background: #710707;
        border-radius: 10px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
        padding: 24.5px 64px;
    }
}

.slider-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 40px 89px 40px 74px;
    background: #030303;    

    &__squares {
        display: flex;
        margin: 0 60px 0 55px;
    }

        &__square {
        width: 16px;
        height: 16px;
        background-color: #fff;
        margin-right: 12.5px;
        margin-left: 12.5px;
    
        }

    &__arrows {
        display: flex;    
    align-items: center;
    }

    &__arrow {
    }
}
.counter {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;

    &__current {
        font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    }

    &__splitter {
        margin: 0 5px;
        
    }

    &__total {
        font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    }
}
.active {
    background: #D2B183;
}
.prev {
    margin-right: 20px;
}
.next {
    rotate: 180deg;
}
