.welcome {
    
        padding-top: 0;
        padding-bottom: 0;

    &__container {
        position: relative;
        display: flex;
        // background-image:  url(../img/gradient.png), url(../img/slide1.jpg);
        // background-repeat: no-repeat;
        // background-position-x: 96.6%;
    }

    &__content {
        padding-bottom: 272px;
        z-index: 10;
    }

    &__carousel {        
        position: absolute;
        right: 15px;
        // width: 68%;
        width: 52vw;
        height: 39vw;
        min-width: 700px;
        min-height: 525px;

        &-item {
            // display: flex;
            // flex-grow: 1;
            max-width: 100%;
            height: auto;
            
            position: absolute;
            right: 0;
            @media screen and (max-width:1024px) {
                width: 700px;
                height: 525px;
            }
        }

        &-gradient {
            position: absolute;
            left: 0;
            z-index: 9;
            @media screen and (max-width:1024px) {
                width: 700px;
                height: 525px;
            }
        }
    }
    
}

.content-welcome {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__title {
        margin-top: 150px;
    }

    &__subtitle {
        margin: 25px 0 75px 0;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        @media screen and (max-width:1024px) {
            font-size: 24px;
            line-height: 28px;
          }
       
    }

    &__link {
        width: max-content;
        color: #fff;
        background: #710707;
        border-radius: 10px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
        padding: 24.5px 64px;
        @media screen and (max-width:1024px) {
            font-size: 20px;
            line-height: 23px;
        }
    }
}

.slider-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: -60px;
    padding: 40px 89px 40px 74px;
    background: #030303;    
    // transform: translate(-50%, -50%);

    &__squares {
        display: flex;
        margin: 0 60px 0 55px;
    }

        &__square {
        width: 16px;
        height: 16px;
        background-color: #fff;
        margin-right: 12.5px;
        margin-left: 12.5px;
    
        }

    &__arrows {
        display: flex;    
    align-items: center;
    }

    &__arrow {
        cursor: pointer;
    }
}
.counter {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;

    &__current {
        font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    }

    &__splitter {
        margin: 0 5px;
        
    }

    &__total {
        font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    }
}
.active {
    background: #D2B183;
}
.slider-welcome__arrow-prev {
    margin-right: 20px;
}
.slider-welcome__arrow-next {
    rotate: 180deg;
}
