
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 22;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1470;
$md1: $maxWidthContainer + 12;


$mainColor: #000000;
$titleWhiteColor: #fff;
$titleOtherColor: #9D8665;



//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "reset";
body {
	color: $mainColor;
  overflow-x: hidden;
	&._lock {
		overflow: hidden;
	}
}

html {
  scroll-behavior: smooth;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

.wrapper {
    width: 100%;
    min-height: 100%;
      // overflow: hidden;
    display: flex;
    flex-direction: column;
    }

  //<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $maxWidthContainer + px;
    padding: 0px 15px;
    margin: 0 auto;
    }
  //</ОСНОВНАЯ СЕТКА>===========================================================================================================
.title {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $titleWhiteColor;
  @media screen and (max-width:1024px) {
    font-size: 50px;
  }
}

.dark {
  background: #030303;
    color: #fff;
    padding: 75px 0;
}

.shown {
  visibility: visible;
}

.hidden {
  // visibility: hidden;
  display: none;
}

@import "header";
@import "welcome";
@import "footer";
@import "visiting";
@import "explore";
@import "video";
@import "contacts";
@import "gallery";
@import "tickets";