
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 22;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1470;
$md1: $maxWidthContainer + 12;


$mainColor: #000000;


//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

.wrapper {
    width: 100%;
    min-height: 100%;
      // overflow: hidden;
    display: flex;
    flex-direction: column;
    }

  //<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $maxWidthContainer + px;
    padding: 0px 15px;
    margin: 0 auto;
    }
  //</ОСНОВНАЯ СЕТКА>===========================================================================================================


@import "_header";
@import "_footer";